<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <h1 th:text="'List of Owners!'"> List of Owners</h1>

    <br/>

    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}"> <!--variable name : attribute name-->
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">TestFN</td>
                <td th:text="${owner.lastName}">TestLN</td>
            </tr>
        </tbody>
    </table>
</body>
</html>