<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h1 th:text="'List of Vets!'">List of Vets</h1>

    <br/>

    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}"> <!--variable name : attribute name-->
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">TestFN</td>
            <td th:text="${vet.lastName}">TestLN</td>
        </tr>
        </tbody>
    </table>
</body>
</html>